<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>class_name</key>
		<string>VTAusleseViewController</string>
		<key>icon_normal</key>
		<string>01</string>
		<key>icon_selected</key>
		<string>1</string>
		<key>title</key>
		<string>精选</string>
	</dict>
	<dict>
		<key>class_name</key>
		<string>VTCityViewController</string>
		<key>icon_normal</key>
		<string>02</string>
		<key>icon_selected</key>
		<string>2</string>
		<key>title</key>
		<string>同城</string>
	</dict>
	<dict>
		<key>class_name</key>
		<string>VTDiscoveryViewController</string>
		<key>icon_normal</key>
		<string>03</string>
		<key>icon_selected</key>
		<string>3</string>
		<key>title</key>
		<string>发现</string>
	</dict>
	<dict>
		<key>class_name</key>
		<string>VTPersonalViewController</string>
		<key>icon_normal</key>
		<string>04</string>
		<key>icon_selected</key>
		<string>4</string>
		<key>title</key>
		<string>我的</string>
	</dict>
</array>
</plist>
